* text=auto

*.woff2 binary
*.png   binary
*.jpg   binary
*.3mf   binary
*.stl   binary
*.bin   binary
*.gif   binary
*.mp4   binary
*.step  -diff
hardware/dock/viewer/BenchBuddy_Dock_viewer.html -diff
